$sidebar-background-color: #f4f4f4;
$sidebar-active-color: #e7e6dd;
$navbar-background-color: #00293d;
$navbar-button-color: #5cb85c;
$navbar-font-color: #fff;
$result-content-color: #000;
$result-header-color: #0f6461;
$result-tab-border-color: #d4d4d4;
$section-title-color: #008080;

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.dl-horizontal dt {
    white-space: normal;
}

body {
    padding-bottom: 20px;
    font: 14px Arial, Helvetica, sans-serif;
}

a,
a:hover {
    color: $navbar-font-color;
    text-decoration: none;
}

.navbar {
    background-color: $navbar-background-color;
    margin-bottom: 0;

    #btn-toggle {
        padding: 6px 12px;
        margin-right: 0;
    }

    .icon-search {
        color: $navbar-font-color;
        padding: 9px 12px;
        border: 1px solid;
    }

    .navbar-brand {
        padding-left: 0;
        padding-right: 0;

        a:hover {
            color: $navbar-button-color;
        }
    }

    .search-form {
        margin: 10px 0;
        padding: 0;
    }
}

.body-content {
    margin-top: 54px;
    padding-bottom: 50px;

    .sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: $sidebar-background-color;
        transition: all 0.5s ease;

        ul {
            top: 0;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                text-indent: 5px;
                line-height: 40px;
            }

            a {
                font-size: 12px;
                display: block;
                color: $navbar-background-color;
            }

            a:hover {
                color: $navbar-font-color;
                background: $navbar-button-color;
            }
        }

        .sub-menu {
            padding-left: 20px;
        }

        .active {
            background: $sidebar-active-color;
        }
    }

    .toggle-sidebar-wrapper {
        width: 250px;
    }

    .page-content-wrapper {
        width: 100%;
        padding: 15px;

        .section-title {
            border-bottom: 1px solid rgba(0, 0, 0, .0785);
        }

        .section-title h3 {
            font-weight: bold;
            color: $navbar-font-color;
            padding: 8px 15px;
            background-color: $section-title-color;
        }

        .phrase-content {
            padding: 5px 20px 0;
        }

        .search-tab > li > a {
            color: $result-header-color;
            padding: 10px 10px;
        }

        .search-tab > li.active > a {
            color: $navbar-font-color;
            background-color: $result-header-color;
        }

        .result-list > li {
            margin: 10px 0;
        }

        .result-list > li > a {
            border: 1px solid $result-tab-border-color;
            border-radius: 2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

        .result-list > li > a p {
            margin-bottom: 0;
            font-weight: bold;
            line-height: 20px;
        }

        .result-list > li > a .result-title {
            color: $result-header-color;
            font-size: 1.2em;
            margin-bottom: 5px;
        }

        .result-list > li > a .result-content {
            color: $result-content-color;
        }
    }
}

@media(min-width:768px) {
    .navbar {
        .navbar-brand {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .body-content {
        padding-left: 250px;

        .sidebar-wrapper {
            width: 250px;
        }
    }
}