html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    overflow-x: hidden;
    padding-bottom: 20px;
    font: 400 14px/1.8 Lato, sans-serif;
}


.body-content {
    margin-top: 177px;

}


.dl-horizontal dt {
    white-space: normal;
}


.icon-app {
    padding-right: 5px;
}

.navbar {
    background-color: #00293d;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.color-white {
    color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: aquamarine;
}

.navbar-inverse .navbar-toggle {
    border-color: aquamarine;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: aquamarine;
    background-color: #00293d;
}

.display-inline-block {
    display: inline-block;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav a {
    color: aquamarine;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f4f4f4;
    transition: all 0.5s ease;
}


.page-content-wrapper {
    width: 100%;
    padding: 15px;
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav .sub-menu {
        list-style: none;
        padding-left: 30px;
    }

    .sidebar-nav .active {
        background: #e7e6dd;
    }

        .sidebar-nav .active a {
        }

    .sidebar-nav li {
        text-indent: 5px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            font-size: 12px;
            display: block;
            text-decoration: none;
            color: #00293d;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #00293d;
                /*background: #e7e6dd;*/
                background: aquamarine;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

.section {
    border-bottom: 1px solid rgba(0,0,0,.0785);
}

    .section h3 {
        font-weight: bold;
        color: #fff;
        padding: 8px 15px;
        background-color: #008080;
    }

.pharse-content {
    padding: 10px 20px;
}

.search-tab > li > a {
    padding: 5px 10px;
}

.search-tab > li.active > a {
    background-color: #0f6461;
}

.result-list > li {
    margin: 10px 0;
}

    .result-list > li > a {
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

        .result-list > li > a p {
            margin-bottom: 0;
            font-weight: bold;
            line-height: 20px;
        }

        .result-list > li > a .result-title {
            color: #0f6461;
            font-size: 1.2em;
            margin-bottom: 5px;
        }

        .result-list > li > a .result-content {
            color: #000;
        }


.toggle-sidebar-wrapper {
    width: 250px;
}

@media(min-width:768px) {
    .body-content {
        margin-top: 52px;
        padding-left: 250px;
    }

    .sidebar-wrapper {
        width: 250px;
    }

    .page-content-wrapper {
        padding: 20px;

    }

}