@mixin border-box {
    box-sizing: border-box;
}

@mixin grid-layout {
    /* Grid Layout
	=========================================== */
    .grid-container > [class^="grid-"] {
        float: left;
        min-height: 1px;
    }

    .grid-container > [class^="grid-"]:first-child {
        margin-left: 0;
    }

    .grid-container > [class^="grid-"]:last-child {
        float: right;
    }

    @for $i from 1 through 12 {
        .grid-#{$i} {
            width: 100% / 12 * $i;
        }
    }
    /* Clearfix
	================================ */
    .grid-container:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@mixin primary-font($style, $size, $color) {
    font: $style $size "Proxima", Geneva, sans-serif;
    color: $color;
}