/* Page Styles
================================ */
* {
  box-sizing: border-box; }

body {
  font: normal 14px Tahoma;
  background-color: #a5937b; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

.line {
  background-color: #ddd;
  height: 1px; }

.banner-content {
  text-align: center;
  background: url(../images/banner.jpg) no-repeat center center;
  background-attachment: fixed;
  max-width: 1263px;
  max-height: 648px;
  vertical-align: middle; }

.main-content {
  max-width: 880px; }
  .main-content input[type=text],
  .main-content textarea {
    box-sizing: border-box;
    width: 100%;
    border: 0; }
  .main-content .main-info,
  .main-content .heading-info {
    text-align: center; }
  .main-content .form-content .btn-send {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 63px;
    vertical-align: middle; }

.icon-send {
  background: url(../images/sprites.png) no-repeat -25px 6px;
  padding: 5px 20px;
  margin-right: 15px; }

.banner-content,
.main-content {
  margin: 0 auto; }

/* Media Queries
================================ */
@media (min-width: 768px) {
  /* Grid Layout 
	=========================================== */
  .grid-container > [class^="grid-"] {
    float: left;
    min-height: 1px; }
  .grid-container > [class^="grid-"]:first-child {
    margin-left: 0; }
  .grid-container > [class^="grid-"]:last-child {
    float: right; }
  .grid-1 {
    width: 8.33333%; }
  .grid-2 {
    width: 16.66667%; }
  .grid-3 {
    width: 25%; }
  .grid-4 {
    width: 33.33333%; }
  .grid-5 {
    width: 41.66667%; }
  .grid-6 {
    width: 50%; }
  .grid-7 {
    width: 58.33333%; }
  .grid-8 {
    width: 66.66667%; }
  .grid-9 {
    width: 75%; }
  .grid-10 {
    width: 83.33333%; }
  .grid-11 {
    width: 91.66667%; }
  .grid-12 {
    width: 100%; }
  /* Clearfix
	================================ */
  .grid-container:after {
    content: " ";
    display: table;
    clear: both; } }
