@font-face {
  font-family: Proxima;
  src: url(../fonts/Proxima-Nova-Regular.otf) format("opentype"); }

@font-face {
  font-family: Proxima;
  font-weight: bold;
  src: url(../fonts/Proxima-Nova-Bold.otf) format("opentype"); }

/* Page Styles
================================ */
* {
  box-sizing: border-box; }

body {
  font: normal 14px "Proxima", Geneva, sans-serif;
  background: #FAFAFA; }

.header-content {
  background: #fff;
  width: 100%;
  border-bottom: 3px solid #ccc; }

.main-header {
  padding: 0 15px;
  text-align: center; }
  .main-header a {
    text-decoration: none; }
  .main-header .main-logo img {
    margin: 15px 0; }
  .main-header .main-nav li {
    border: 1px solid #737373;
    border-bottom: none; }
  .main-header .main-nav a {
    display: block;
    padding: 10px 20px;
    color: #737373;
    font-weight: bold; }
  .main-header .main-nav .blog {
    border-bottom: 1px solid #737373; }
  .main-header .demo-btn {
    margin-top: 12px;
    margin-bottom: 5px; }
    .main-header .demo-btn a {
      display: block;
      padding: 13px 20px;
      box-sizing: border-box;
      border: 1px solid #e73c50;
      border-bottom: 3px solid #b5161e;
      background-color: #e73c50;
      border-radius: 5px;
      height: 45px;
      font-size: 17px;
      color: #fff; }

.main-header,
.main-content {
  margin: 0 auto;
  max-width: 960px; }

.main-content {
  padding: 30px 15px; }

.link {
  font-weight: bold;
  font-size: 11px;
  color: #007299; }

.primary-content {
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 3px solid #ccc; }
  .primary-content .primary-image {
    width: 100%;
    border-bottom: 4px solid #ffa933;
    display: block;
    margin-bottom: 3px; }
  .primary-content span {
    font-size: 11px;
    color: #c98715; }
  .primary-content .author {
    padding-top: 3px;
    float: right; }
  .primary-content .left-heading {
    margin: 25px 0 10px;
    font-size: 16px;
    color: #007299; }
  .primary-content .left-paragraph {
    color: #666;
    line-height: 20px; }
  .primary-content .header-line {
    margin-top: 20px; }

.secondary-content {
  display: inline-block; }
  .secondary-content .right-heading {
    font-size: 24px;
    color: #007299;
    font-weight: normal; }
  .secondary-content .right-paragraph {
    font-size: 17px;
    color: #4c4c4c;
    line-height: 25px; }
  .secondary-content .link {
    text-decoration: none; }

.icon-link {
  background: url(../images/learnmore.png) no-repeat 0 2px;
  padding: 3px 0 3px 15px;
  margin-left: 5px; }

.footer-content {
  background-color: #007299;
  height: 150px;
  text-align: center;
  width: 100%;
  margin: auto; }
  .footer-content .main-footer {
    margin: 0 auto;
    max-width: 930px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .footer-content .primary-footer {
    padding: 0 10px;
    margin: 0 0 10px;
    font-size: 16px;
    color: #fff; }
    .footer-content .primary-footer span {
      font-weight: bold;
      font-size: 16px;
      color: #fff; }
  .footer-content .secondary-footer {
    max-width: 360px;
    padding: 0 10px;
    height: 45px;
    margin: 0 auto; }
  .footer-content .email {
    border: none;
    border-bottom: solid 2px #105476;
    color: #06a7e2;
    font-size: 16px;
    float: left;
    width: 79.16667%;
    padding: 15px;
    height: 45px; }
  .footer-content .email::-webkit-input-placeholder {
    color: #06a7e2; }
  .footer-content .btn-go {
    border: none;
    border-bottom: solid 2px #105476;
    background-color: #06a7e2;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-left: -2px;
    height: 45px;
    width: 20.83333%; }

/* Media Queries
================================ */
@media (min-width: 1024px) {
  .main-header .main-logo img {
    margin: 15px 0 11px; }
  .main-header .main-nav {
    margin-top: 23px; }
    .main-header .main-nav a {
      padding: 0; }
    .main-header .main-nav li {
      display: inline-block;
      border: none;
      margin: 0 3%; }
    .main-header .main-nav .blog {
      border: none; }
  .main-header .demo-btn {
    margin-top: 10px;
    margin-bottom: 7px; }
    .main-header .demo-btn a {
      float: right;
      width: 150px; }
  .header-content {
    position: fixed;
    top: 0;
    /* Grid Layout
	=========================================== */
    /* Clearfix
	================================ */ }
    .header-content .grid-container > [class^="grid-"] {
      float: left;
      min-height: 1px; }
    .header-content .grid-container > [class^="grid-"]:first-child {
      margin-left: 0; }
    .header-content .grid-container > [class^="grid-"]:last-child {
      float: right; }
    .header-content .grid-1 {
      width: 8.33333%; }
    .header-content .grid-2 {
      width: 16.66667%; }
    .header-content .grid-3 {
      width: 25%; }
    .header-content .grid-4 {
      width: 33.33333%; }
    .header-content .grid-5 {
      width: 41.66667%; }
    .header-content .grid-6 {
      width: 50%; }
    .header-content .grid-7 {
      width: 58.33333%; }
    .header-content .grid-8 {
      width: 66.66667%; }
    .header-content .grid-9 {
      width: 75%; }
    .header-content .grid-10 {
      width: 83.33333%; }
    .header-content .grid-11 {
      width: 91.66667%; }
    .header-content .grid-12 {
      width: 100%; }
    .header-content .grid-container:after {
      content: " ";
      display: table;
      clear: both; }
    .header-content .header-line {
      margin-top: 0; }
  .main-content {
    margin-top: 65px;
    padding-top: 40px; }
  .footer-content .primary-footer,
  .footer-content .secondary-footer {
    display: inline-block;
    padding: 0;
    width: 49%; }
  .footer-content .primary-footer {
    text-align: initial;
    padding-right: 3%; }
  .footer-content .secondary-footer {
    padding-left: 3%; } }

@media (min-width: 768px) {
  .main-content {
    margin-bottom: 150px;
    padding: 30px 20px;
    /* Grid Layout
	=========================================== */
    /* Clearfix
	================================ */ }
    .main-content .primary-content {
      max-width: 290px;
      background-color: #fff; }
      .main-content .primary-content .left-heading,
      .main-content .primary-content .left-paragraph,
      .main-content .primary-content .link {
        padding: 0 20px; }
      .main-content .primary-content .date {
        margin-left: 20px; }
      .main-content .primary-content .author {
        margin-right: 20px; }
      .main-content .primary-content .header-line {
        margin-top: 15px; }
    .main-content .secondary-content {
      max-width: 620px;
      padding-left: 8.3333%; }
    .main-content .grid-container > [class^="grid-"] {
      float: left;
      min-height: 1px; }
    .main-content .grid-container > [class^="grid-"]:first-child {
      margin-left: 0; }
    .main-content .grid-container > [class^="grid-"]:last-child {
      float: right; }
    .main-content .grid-1 {
      width: 8.33333%; }
    .main-content .grid-2 {
      width: 16.66667%; }
    .main-content .grid-3 {
      width: 25%; }
    .main-content .grid-4 {
      width: 33.33333%; }
    .main-content .grid-5 {
      width: 41.66667%; }
    .main-content .grid-6 {
      width: 50%; }
    .main-content .grid-7 {
      width: 58.33333%; }
    .main-content .grid-8 {
      width: 66.66667%; }
    .main-content .grid-9 {
      width: 75%; }
    .main-content .grid-10 {
      width: 83.33333%; }
    .main-content .grid-11 {
      width: 91.66667%; }
    .main-content .grid-12 {
      width: 100%; }
    .main-content .grid-container:after {
      content: " ";
      display: table;
      clear: both; }
  .footer-content {
    bottom: 0;
    position: fixed; } }
