/* Page Styles
================================ */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: normal 13px/1.5 Arial, 'Segoe UI', Tahoma;
    color: white;
    background-color: #76acfc;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


/* Main Layout Styles
================================ */

.main-header {
    text-align: center;
}

.main-header h1 {
    font-size: 24pt;
}

.primary-content {
    max-width: 400px;
}

.primary-content p {
    margin: 0;
}