/* Page Styles
================================ */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: normal 13px Arial, 'Segoe UI', Tahoma;
    color: white;
    background-color: #76acfc;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
}

input {
    height: 40px;
}


/* Main Layout Styles
================================ */

.main-header {
    text-align: center;
}

.main-header h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.primary-content p {
    margin: 0;
}

.info-list {
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

.info-list li {
    margin: 10px 50px 5px 0;
}

.info-list>.phone>span {
    background-image: url(/images/sprites.png);
    background-repeat: no-repeat;
    background-position: 0px -6px;
    padding: 3px 0 3px 20px;
    margin-left: -6px;
    margin-right: 5px;
}

.info-list>.email>span {
    background-image: url(/images/sprites.png);
    background-repeat: no-repeat;
    background-position: -30px -6px;
    padding: 3px 0 3px 20px;
    margin-left: -6px;
    margin-right: 5px;
}

.info-list>.address>span {
    background-image: url(/images/sprites.png);
    background-repeat: no-repeat;
    background-position: -60px -6px;
    padding: 3px 0 3px 20px;
    margin-left: -6px;
    margin-right: 5px;
}