/* Page Styles
================================ */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: normal 12px/1.5 Arial, 'Segoe UI', Tahoma;
    color: white;
    background-color: #76acfc;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


/* Main Layout Styles
================================ */

.main-header {
    text-align: center;
}

.main-header h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.primary-content p {
    margin: 0;
}


/*.primary-content a:before {
    background: transparent url('/images/sprites.png') no-repeat left center;
    vertical-align: middle;
    margin-left: -20px;
    padding-left: 0;
    padding-right: 50px;
    content: "";
}*/